<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="스마트 패턴장부" />
    <meta name="keyword" content="스마트 패턴장부" />
    <title>스마트 패턴장부</title>
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:site_name" content="스마트 패턴장부(Smart Pattern))" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="스마트 패턴장부" />
    <meta property="og:description" content="스마트 패턴장부" />
    <meta property="og:image" content="../assets/images/common/og_image.jpg">
    <meta name="twitter:image" content="../assets/images/common/og_image.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favi/favicon-16x16.png">
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="naver-site-verification" content="37cc8e45a90c6e3ae9d43cee76e1a11ba16ff377" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="//cdn.rawgit.com/young-ha/webfont-archive/master/css/NanumSquare.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/styles/icon.css">
    <link rel="stylesheet" href="../assets/styles/libaray.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/resp.css">

    <link rel="stylesheet" href="../assets/styles/style2.css">


    <script src="../assets/scripts/jqery-3.5.1.min.js"></script>
    <script src="../assets/scripts/common.js"></script>
    <!--에러팝업 스크립트 모든페이지 복붙-->
    <script>
        $(function() {
    $(".sign_btn").click(function() {    //이부분만 네트워크 연결변화 구문으로 바꾸시면 됩니다
        $(".pp_wrap").fadeIn();
    });

    $(".close_btn_solid").click(function() {
        $(".pp_wrap").fadeOut();
    });

});
      </script>
</head>
    <body style="background:#fff;">
        <a href="./message_sev.html"><div class="next_btn">다음</div></a>
        <!--에러팝업 모든페이지 복붙-->
    <div id="popup_wrap">
        <div class="pp_wrap">
            <div class="popup_box_er">
                <div class="popup_top">
                    <div class="popup_circle">!</div>
                </div>
                <p class="error_txt">통신 상태가 불안정합니다.<br><span>잠시 후 다시 시도해 주세요.</span></p>
                <div class="popup_bot2">
                    <div class="error_bottom_wrap">
                        <div class="btn_wrap">
                            <a class="close_btn_solid" href="#a">확인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        

        <div class="login_wrap">
            <div class="login_top_logo">
                <div class="icon_b ic_login_logo"></div>
                <div class="logo_txt">
                    <h2 class="l_top_logo">스마트 패턴 장부</h2>
                    <p class="l_top_logo_sub">PATTERN TECH</p>
                </div>
            
            <div class="login_center_purple">
                <p class="login_txt">SNS계정으로 간편 로그인 하세요!</p>
            </div>
            <div class="login_bottom">
                <ul class="bar">
                    <li class="login_bar sign_btn">
                        <ul class="bar_wrap">
                            <div class="naver_ic_box">
                                <a href="#a">
                                    <li class="icon_c ic_naver_c"></li>
                                    <div class="txt_box">
                                    <li class="bar_txt">네이버 아이디 로그인</li></div>
                                </a>
                            </div>
                        </ul>
                    </li>
                    <li class="login_bar sign_btn">
                        <ul class="bar_wrap">
                            <div class="kakao_ic_box">
                                <a href="#a">
                                    <li class="icon_c ic_kakao_c"></li>
                                    <div class="txt_box">
                                    <li class="bar_txt">카카오 아이디 로그인</li></div>
                                </a>
                            </div>
                        </ul>
                    </li>
                    <li class="login_bar sign_btn">
                        <ul class="bar_wrap">
                            <div class="facebook_ic_box">
                                <a href="#a">
                                    <li class="icon_c ic_facebook_c"></li>
                                    <div class="txt_box">
                                    <li class="bar_txt2">페이스북 아이디 로그인</li></div>
                                </a>
                            </div>
                        </ul>
                    </li>
                    <li class="login_bar sign_btn">
                        <ul class="bar_wrap">
                            <div class="google_ic_box">
                                <a href="#a">
                                    <li class="icon_c ic_google_c"></li>
                                    <div class="txt_box">
                                    <li class="bar_txt">&nbsp구글 아이디 로그인</li></div>
                                </a>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            
    </div>

    


        <script src="../assets/scripts/swiper-bundle.js"></script>
<script src="../assets/scripts/graph.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 16,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    get_month_graph();
</script>

    </body>
  
</html>
